
.tooltip {
  .tooltip-inner {
    max-width: 500px;
    max-height: 200px;
    overflow: hidden;
  }
}

button, input {
  @extend .form-control;
}

.dvz-notelist__note {
  .card-header {
    @extend .p-0;
    .dvz-notelist-note__content {
      //@extend .col-8;
      @extend .py-2;
      @extend .px-1;
      @extend .mx-2;
      background-color: lightgrey;
    }
  }
}

.mode-development {
  .project-page,
  .showajaxresult {
    width:47%;
    margin:0;
    float:left;
  }
  .showajaxresult {
      margin-left: 4%;
      margin-top: 50px;
      padding: 10px;
      .ajaxresult {
        display:block;
        color: #ccc;
        .mode-development & {
          color: black;
        }
        .error {
          color: red;
        }
        .debug {
          color: #666;
        }
      }
  }
}
