

div {
  border: 0px dotted gray;
}

.ajaxresult {
    display:none;
}

.showajaxresult {
    margin-top: 50px;
    padding: 10px;
    .ajaxresult {
        display:block;
        color: #ccc;
        .error {
            color: red;
        }
        .debug {
            color: #666;
        }
    }
}