.dvz-notelist__note {
  .card {
    &:hover {
      @extend .bg-light;
    }
  }
  .card-header {
    @extend .bg-white;
    &:hover {
      @extend .bg-light;
    }
    .dvz-notelist-note__content {
      cursor : pointer;
    }
  }
}

.artlist-entries {
  .artlist__entry {
    font-weight: bold;
    &:hover {
      cursor: pointer;
      background-color: #f5e79e;
    }
  }
}