
        <a id="pagetop"></a>
        <div class="project-page container-fluid">
            REPLACED_BY_PROPERTY_itemlist-header_VALUE
            <div class="row">
                <div class="col col-2">
                    REPLACED_BY_PROPERTY_itemlist-filter_VALUE
                </div>
                <div class="col accordion" id="dvz-jsbs-itemlist-accordion-data-parent">
                    REPLACED_BY_PROPERTY_itemlist-items_VALUE
                </div>
            </div>
           
        </div>
