<form class="project-header-form item-type_config" data-id="REPLACED_BY_ITEM_id_VALUE">
    <div class="row">
        <input name="filter-art" class="col-2 dvz-js-persistent" data-dvz-selector-attribute="data-filter-art" placeholder="...Filter Art..." value="REPLACED_BY_ITEM_filter-art_VALUE">
        <input name="filter-text" class="col-4 dvz-js-persistent dvz-js-liste-filter-text" data-dvz-selector-attribute="data-filter-text" placeholder="...Filter eingeben..."  value="REPLACED_BY_ITEM_filter-text_VALUE">
        <input class="dvz-js-persistent" type="hidden" name="id" value="REPLACED_BY_ITEM_id_VALUE">
        <div class="col form-inline">
            <a target="_blank" href="/memo/priv/privnotes-dev/index.php?action=item-edit" class="form-control" role="button">Neu</a>
            <button class="form-control">(Reset)</button>
            <button class="form-control">(Reload)</button>
        </div>
    </div>
    <input name="itemtype" type="hidden" class="dvz-js-persistent" value='config'>
</form>