<div class="container-fluid item-type_textnote">
    <p>Speichern erfolgt automatisch nach jedem Tastendruck!</p>
    <form data-id="REPLACED_BY_ITEM_id_VALUE">
        <div class="form-group row">
            <label for="label-name" class="col-form-label col-sm-1">Name</label>
            <div class="col-sm-11">
                <input name="name" type="text" class="form-control dvz-js-persistent" id="label-name" placeholder="...Name..." value='REPLACED_BY_ITEM_name_VALUE'>
            </div>
        </div>
        <div class="form-group row">
            <label for="label-art" class="col-form-label col-sm-1">Art</label>
            <div class="col-sm-11">
                <input name="art" type="text" class="form-control dvz-js-persistent" id="label-art" placeholder="...Art..." value='REPLACED_BY_ITEM_art_VALUE'>
            </div>
        </div>
        
        <div class="form-group">
            <label for="label-text">Text</label>
            <input name="text" class="form-control dvz-js-persistent dvz-js-summernote-editor" id="label-text" placeholder="...Text..." value='REPLACED_BY_ITEM_text_VALUE'></input>
        </div>
		<div class="form-group">
			<input name="files" class="dvz-js-persistent" value='REPLACED_BY_ITEM_files_VALUE'>
        
                    
                    <input name="datum" class="dvz-js-persistent" value='REPLACED_BY_ITEM_datum_VALUE'>
                    
                    <input name="DatumE" class="dvz-js-persistent" value='REPLACED_BY_ITEM_DatumE_VALUE'>
                    
                    <input name="mark1" class="dvz-js-persistent" value='REPLACED_BY_ITEM_mark1_VALUE'>
        
        <input name="id" disabled="disabled" class="dvz-js-persistent" value='REPLACED_BY_ITEM_id_VALUE'>
        <input name="itemtype" type="hidden" class="dvz-js-persistent" value='textnote'>
		</div>
    </form>
</div>