<form class="project-header-form" data-id="REPLACED_BY_CONFIG_id_VALUE" id="js-config">
    <div class="row">
        <input name="item-persistent-filter-art" class="col-2  dvz-js-liste-filter-text" data-dvz-selector-attribute="data-filter-art" placeholder="...Filter Art..." value="REPLACED_BY_CONFIG_filter-art_VALUE">
        <input name="item-persistent-filter-text" class="col-2 dvz-js-liste-filter-text" data-dvz-selector-attribute="data-filter-text" placeholder="...Filter any field..."  value="REPLACED_BY_CONFIG_filter-any_VALUE">
        <input name="item-persistent-filter-views" class="col-2 dvz-js-liste-filter-text" data-dvz-selector-attribute="data-filter-views" placeholder="...View: default|textnote|..."  value="REPLACED_BY_CONFIG_filter-views_VALUE">
        <div class="col form-inline">
            <button class="dvz-js-create-textnote-action form-control">Neue Notiz</button>
            <button class="form-control" disabled="disabled">(Reset)</button>
            <button class="form-control" disabled="disabled">(Reload)</button>
            <a target="_blank" href="/memo/priv/privnotes-dev/index.php?status=active" class="form-control" role="button">Liste active</a>
			<a target="_blank" href="/memo/priv/privnotes-dev/index.php?status=backup" class="form-control" role="button">Liste backup</a>
			<a target="_blank" href="/memo/priv/privnotes-dev/index.php?status=deleted" class="form-control" role="button">Liste deleted</a>
            <button class="form-control" type="button" data-toggle="collapse" data-target="#dvz-js-config-collapse">CONFIG</button>
        </div>
    </div>
    <div class="row collapse" id="dvz-js-config-collapse">
        <div class="col">
            <div class="form-group row">
                <label for="label-REPLACED_BY_CONFIG_id_VALUE-datetimesaved" class="col-form-label col-sm-1">datetimesaved</label>
                <div class="col-sm-4">
                    <input name="item-persistent-datetimesaved" class="form-control" id="label-REPLACED_BY_CONFIG_id_VALUE-datetimesaved" value='REPLACED_BY_CONFIG_datetimesaved_VALUE'>
                </div>
            </div>
            <div class="form-group row">
                <label for="label-REPLACED_BY_CONFIG_id_VALUE-datetimecreated" class="col-form-label col-sm-1">datetimecreated</label>
                <div class="col-sm-4">
                    <input name="item-persistent-datetimecreated" disabled="disabled" class="form-control" id="label-REPLACED_BY_CONFIG_id_VALUE-datetimecreated" value='REPLACED_BY_CONFIG_datetimecreated_VALUE'>
                </div>
            </div>
            <div class="form-group row">
                <label for="label-REPLACED_BY_CONFIG_id_VALUE-id" class="col-form-label col-sm-1">id</label>
                <div class="col-sm-4">
                    <input name="item-persistent-id" disabled="disabled" class="form-control" id="label-REPLACED_BY_CONFIG_id_VALUE-id" value='REPLACED_BY_CONFIG_id_VALUE'>
                </div>
            </div>
        </div>
    </div>
</form>