<div class="row dvz-itemlist__item dvz-js-itemlist__item item-nr_REPLACED_BY_ITEM_NR item-type_REPLACED_BY_ITEM_ITEMTYPE_VALUE dvz-js-remove-on-delete-REPLACED_BY_ITEM_id_VALUE dvz-js-remove-on-hide-REPLACED_BY_ITEM_id_VALUE" data-filter-text="REPLACED_BY_ITEM_data-filter-text_VALUE" data-filter-art="REPLACED_BY_ITEM_art_VALUE">
    <div class="col card">
        <div class="container-fluid">
            <div class="row card-header">
                <div class="col dvz-itemlist-item__content" data-toggle="collapse" data-target="#dvz-jsbs-collapse_item_accordion_REPLACED_BY_ITEM_NR">
                    <div class="" data-toggle="tooltip" data-placement="top" data-html="true" title="REPLACED_BY_ITEM_data-tooltip-html_VALUE">
                        REPLACED_BY_ITEM_name_VALUE
                    </div>
                </div>
                <div class="col">
                    <a href="/memo/priv/privnotes-dev/index.php?action=item-edit&id=REPLACED_BY_ITEM_id_VALUE" target="_blank">EDIT</a>
                    <a href="#" class="dvz-js-hide-action" data-id="REPLACED_BY_ITEM_id_VALUE">HIDE</a>
                    <a href="#" class="dvz-js-backup-action" data-id="REPLACED_BY_ITEM_id_VALUE">BACKUP</a>
                    <a href="#" class="dvz-js-delete-action" data-id="REPLACED_BY_ITEM_id_VALUE">DELETE</a>
                </div>
            </div>
        </div>
        <div id="dvz-jsbs-collapse_item_accordion_REPLACED_BY_ITEM_NR" class="collapse" data-parent="#dvz-jsbs-itemlist-accordion-data-parent">
            <div class="card-body">
                <div class="">
                    REPLACED_BY_ITEM_text_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_art_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_files_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_id_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_datum_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_DatumE_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_mark1_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_ITEMTYPE_VALUE
                </div>
            </div>
        </div>
    </div>
</div>
