<div class="row dvz-notelist__note memo-js-notelist__note note-_REPLACED_BY_ITEM_id_VALUE memo-js-remove-on-delete-REPLACED_BY_ITEM_id_VALUE memo-js-remove-on-hide-REPLACED_BY_ITEM_id_VALUE" data-filter-art="REPLACED_BY_ITEM_art_VALUE" data-filter-any="REPLACED_BY_ITEM_data-filter-any_VALUE" data-filter-views="REPLACED_BY_ITEM_data-filter-view_VALUE,REPLACED_BY_ITEM_data-filter-views_VALUE" >
    <div class="col card">
        <div class="container-fluid">
            <div class="row card-header">
                <div class="col dvz-notelist-note__content" data-toggle="collapse" data-target="#memo-jsbs-collapse_note_accordion_REPLACED_BY_ITEM_id_VALUE">
                    <div class="" data-toggle="tooltip" data-placement="top" data-html="true" title="REPLACED_BY_ITEM_data-tooltip-html_VALUE">
                        REPLACED_BY_ITEM_name_VALUE
                    </div>
                </div>
                <div class="col">
                    <a href="/memo/priv/privnotes-dev/index.php?action=noteedit&note-persistent-id=REPLACED_BY_ITEM_id_VALUE" target="_blank">EDIT</a>
                    <a href="#" class="memo-js-hide-action" data-id="REPLACED_BY_ITEM_id_VALUE">HIDE</a>
                    <a href="#" class="memo-js-backup-action" data-id="REPLACED_BY_ITEM_id_VALUE">BACKUP</a>
                    <a href="#" class="memo-js-delete-action" data-id="REPLACED_BY_ITEM_id_VALUE">DELETE</a>
                </div>
            </div>
        </div>
        <div id="memo-jsbs-collapse_note_accordion_REPLACED_BY_ITEM_id_VALUE" class="collapse" data-parent="#memo-jsbs-notelist-accordion-data-parent">
            <div class="card-body">
                <div class="">
                    <p>art: REPLACED_BY_ITEM_art_VALUE</p>
                </div>
                <div class="">
                    REPLACED_BY_ITEM_text_VALUE
                </div>
                <div class="">
                    REPLACED_BY_ITEM_files_VALUE
                </div>
                <div class="">
                    <p>view: REPLACED_BY_ITEM_view_VALUE</p>
                </div>
                <div class="">
                    <p>possible-views: REPLACED_BY_ITEM_possible-views_VALUE</p>
                </div>
                <div class="">
                    <p>id: REPLACED_BY_ITEM_id_VALUE</p>
                </div>
                <div class="">
                    <p>datetimesaved: REPLACED_BY_ITEM_datetimesaved_VALUE</p>
                </div>
                <div class="">
                    <p>datetimecreated: REPLACED_BY_ITEM_datetimecreated_VALUE</p>
                </div>
            </div>
        </div>
    </div>
</div>
