<div class="container-fluid">
    <form data-id="REPLACED_BY_PROPERTY~id_VALUE" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-group row">
            <div class="col form-inline">
                <button class="memo-js-save-action form-control">Speichern (Speichern erfolgt automatisch nach jedem Tastendruck!)</button>
                <button class="form-control" disabled="disabled">(Reset)</button>
                <button class="form-control" disabled="disabled">(Reload)</button>
            </div>
        </div>
    
        <div id="toc"></div>
        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-name" class="col-form-label col-sm-1">Name</label>
            <div class="col-sm-11">
                <input name="note-persistent-name" type="text" class="form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-name" placeholder="...Name..." value="REPLACED_BY_PROPERTY~name_VALUE">
            </div>
        </div>
        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-art" class="col-form-label col-sm-1">Art</label>
            <div class="col-sm-11">
                <input name="note-persistent-art" type="text" class="form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-art" placeholder="...Art..." value="REPLACED_BY_PROPERTY~art_VALUE">
            </div>
        </div>
        REPLACED_BY_PROPERTY~other-properties-edit-html_VALUE
        
        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-view" class="col-form-label col-sm-1">view</label>
            <div class="col-sm-11">
                <input name="note-persistent-view" type="text" class="form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-view" placeholder="...Primaerer View..." value="REPLACED_BY_PROPERTY~view_VALUE">
            </div>
        </div>
        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-possible-views" class="col-form-label col-sm-1">possible-views</label>
            <div class="col-sm-11">
                <input name="note-persistent-possible-views" type="text" class="form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-possible-views" placeholder="...Moegliche Views..." value="REPLACED_BY_PROPERTY~possible-views_VALUE">
            </div>
        </div>

        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-files" class="col-form-label col-sm-1">files</label>
            <div class="col-sm-4">
		    	<input name="note-persistent-files" class="memo-js-persistent form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-files" value="REPLACED_BY_PROPERTY~files_VALUE">
            </div>
        </div>
        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-datetimesaved" class="col-form-label col-sm-1">datetimesaved</label>
            <div class="col-sm-4">
                <input name="note-persistent-datetimesaved" disabled="disabled" class="form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-datetimesaved" value="REPLACED_BY_PROPERTY~datetimesaved_VALUE">
            </div>
        </div>
        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-datetimecreated" class="col-form-label col-sm-1">datetimecreated</label>
            <div class="col-sm-4">
                <input name="note-persistent-datetimecreated" disabled="disabled" class="form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-datetimecreated" value="REPLACED_BY_PROPERTY~datetimecreated_VALUE">
            </div>
        </div>
        <div class="form-group row">
            <label for="label-REPLACED_BY_PROPERTY~id_VALUE-id" class="col-form-label col-sm-1">id</label>
            <div class="col-sm-4">
                <input name="note-persistent-id" disabled="disabled" class="form-control" id="label-REPLACED_BY_PROPERTY~id_VALUE-id" value="REPLACED_BY_PROPERTY~id_VALUE">
            </div>
        </div>
    </form>
</div>