
        <a id="pagetop"></a>
        <div class="project-page container-fluid">
            REPLACED_BY_PROPERTY_notelist-header_VALUE
            <div class="row">
                <div class="col col-2">
                    <em>Alle ARTs + berechnete Haupt-ARTs der sichtbaren Notes:</em><br>
                    <div class="artlist-entries">
                        REPLACED_BY_PROPERTY_notelist-filter_VALUE
                    </div>
                </div>
                <div class="col accordion" id="memo-jsbs-notelist-accordion-data-parent">
                    REPLACED_BY_PROPERTY_notelist-notes_VALUE
                </div>
            </div>
           
        </div>
