REPLACED_BY_pcreate[processor-class]=ProcessorView&pinit[view]=^page-begin&pcreate[processor-method]=getHtml_VALUE
        REPLACED_BY_pcreate[processor-class]=ProcessorView&pinit[view]=header&pcreate[processor-method]=getHtml_VALUE
        <div class="row">
                <div class="col col-2">
                        <em>Alle ARTs + berechnete Haupt-ARTs der sichtbaren Notes:</em><br>
                        <div class="artlist-entries">
                                REPLACED_BY_pcreate[processor-class]=ProcessorView&pinit[view]=items_art_filter&pcreate[processor-method]=getHtml_VALUE
                        </div>
                </div>
                <div class="col accordion" id="memo-jsbs-notelist-accordion-data-parent">
                        REPLACED_BY_pcreate[processor-class]=ProcessorView&pinit[view]=items_note&pcreate[processor-method]=getHtml_VALUE
                </div>
        </div>
REPLACED_BY_pcreate[processor-class]=ProcessorView&pinit[view]=^page-end&pcreate[processor-method]=getHtml_VALUE