REPLACED_BY_processor-class=ProcessorView&processor-class-properties[view]=page-begin&processor-method=getHtml_VALUE
        REPLACED_BY_processor-class=ProcessorView&processor-class-properties[view]=-header&processor-method=getHtml_VALUE
        <div class="row">
                <div class="col col-2">
                        <em>Alle ARTs + berechnete Haupt-ARTs der sichtbaren Notes:</em><br>
                        <div class="artlist-entries">
                                REPLACED_BY_processor-class=ProcessorView&processor-class-properties[view]=-items_art_filter&processor-method=getHtml_VALUE
                        </div>
                </div>
                <div class="col accordion" id="memo-jsbs-notelist-accordion-data-parent">
                        REPLACED_BY_processor-class=ProcessorView&processor-class-properties[view]=-items_note&processor-method=getHtml_VALUE
                </div>
        </div>
REPLACED_BY_processor-class=ProcessorView&processor-class-properties[view]=page-end&processor-method=getHtml_VALUE