<div class="row dvz-notelist__note memo-js-notelist__note note-_REPLACED_BY_PROPERTY~id_VALUE memo-js-remove-on-delete-REPLACED_BY_PROPERTY~id_VALUE memo-js-remove-on-hide-REPLACED_BY_PROPERTY~id_VALUE"
     data-filter-art="REPLACED_BY_PROPERTY~art_VALUE" data-filter-any="REPLACED_BY_PROPERTY~data-filter-any_VALUE"
     data-filter-views="REPLACED_BY_PROPERTY~data-filter-views_VALUE">
    <div class="col card">
        <div class="container-fluid">
            <div class="row card-header">
                <div class="col dvz-notelist-note__content" data-toggle="collapse"
                     data-target="#memo-jsbs-collapse_note_accordion_REPLACED_BY_PROPERTY~id_VALUE">
                    <div class="" data-toggle="tooltip" data-placement="top" data-html="true"
                         title="REPLACED_BY_PROPERTY~data-tooltip-html_VALUE">
                        REPLACED_BY_PROPERTY~name_VALUE
                    </div>
                </div>
                <div class="col">
                    <a href="/memo/priv/privnotes-dev/index.php?processor-class=ProcessorView&processor-method=getHtml&processor-class-properties[view]=noteedit&note-persistent-id=REPLACED_BY_PROPERTY~id_VALUE"
                       target="_blank">EDIT</a>
                    <a href="#" class="memo-js-hide-action" data-id="REPLACED_BY_PROPERTY~id_VALUE">HIDE</a>
                    <a href="#" class="memo-js-duplicate-action"
                       data-clones-id="REPLACED_BY_PROPERTY~id_VALUE"
                       data-name="REPLACED_BY_PROPERTY~name_VALUE"
                       data-art="REPLACED_BY_PROPERTY~art_VALUE"
                       data-text="REPLACED_BY_PROPERTY~text_VALUE"
                       data-files="REPLACED_BY_PROPERTY~files_VALUE"
                       data-view="REPLACED_BY_PROPERTY~view_VALUE"
                       data-possible-views="REPLACED_BY_PROPERTY~possible-views_VALUE"
                    >DUP</a>
                    <a href="#" class="memo-js-backup-action" data-id="REPLACED_BY_PROPERTY~id_VALUE">BACKUP</a>
                    <a href="#" class="memo-js-delete-action" data-id="REPLACED_BY_PROPERTY~id_VALUE">DELETE</a>
                </div>
            </div>
        </div>
        <div id="memo-jsbs-collapse_note_accordion_REPLACED_BY_PROPERTY~id_VALUE" class="collapse"
             data-parent="#memo-jsbs-notelist-accordion-data-parent">
            <div class="card-body">
                <div class="">
                    REPLACED_BY_PROPERTY~art_VALUE
                </div>
                <div class="">
                    REPLACED_BY_PROPERTY~id_VALUE
                </div>
                <div class="">
                    REPLACED_BY_PROPERTY~datetimesaved_VALUE
                </div>
                <div class="">
                    REPLACED_BY_PROPERTY~datetimecreated_VALUE
                </div>
                <div class="">
                    REPLACED_BY_PROPERTY~view_VALUE
                </div>
                <div class="">
                    REPLACED_BY_PROPERTY~possible-views_VALUE
                </div>
            </div>
        </div>
    </div>
</div>
