<form class="project-header-form" data-id="REPLACED_BY_CONFIG~id_VALUE" id="js-config">
    <div class="row">
        <input name="note-persistent-filter-art" class="col-2  memo-js-liste-filter-text memo-js-liste-filter-art" data-dvz-selector-attribute="data-filter-art" placeholder="...Filter Art..." value="REPLACED_BY_CONFIG~filter-art~~1_VALUE">
        <input name="note-persistent-filter-text" class="col-2 memo-js-liste-filter-text memo-js-liste-filter-any" data-dvz-selector-attribute="data-filter-any" placeholder="...Filter any field..."  value="REPLACED_BY_CONFIG~filter-art~~1_VALUE">
        <input name="note-persistent-filter-views" class="col-2 memo-js-liste-filter-text" data-dvz-selector-attribute="data-filter-views" placeholder="...View: NoteDefault|NoteText|..."  value="REPLACED_BY_CONFIG~filter-views~~1_VALUE">
        <div class="col form-inline">
            <button class="memo-js-create-textnote-action form-control">Neue TextNote</button>
            <button class="form-control" disabled="disabled">(Reset)</button>
            <button class="form-control" disabled="disabled">(Reload)</button>
            <a target="_blank" href="?filter-views=NoteText&pcreate[processor-class]=ProcessorView&pcreate[processor-method]=getHtml&pinit[view]=notelist&config-id=CONFIG-PersistenceActive-DEFAULT" class="form-control" role="button">Liste active</a>
            <a target="_blank" href="?filter-views=NoteText&pcreate[processor-class]=ProcessorView&pcreate[processor-method]=getHtml&pinit[view]=notelist&config-id=CONFIG-PersistenceBackup-DEFAULT" class="form-control" role="button">Liste backup</a>
            <a target="_blank" href="?filter-views=NoteText&pcreate[processor-class]=ProcessorView&pcreate[processor-method]=getHtml&pinit[view]=notelist&config-id=CONFIG-PersistenceDeleted-DEFAULT" class="form-control" role="button">Liste deleted</a>
            <a target="_blank" href="?filter-views=NoteText&pcreate[processor-class]=ProcessorView&pcreate[processor-method]=getHtml&pinit[view]=notelist&config-id=CONFIG-PersistenceActive-configs" class="form-control" role="button">Liste configs active</a>
            <button class="form-control" type="button" data-toggle="collapse" data-target="#memo-js-config-collapse">CONFIG</button>
        </div>
    </div>
    <div class="row collapse" id="memo-js-config-collapse">
        <div class="col">
            <div class="form-group row">
                <label for="label-REPLACED_BY_CONFIG~id_VALUE-name" class="col-form-label col-sm-1">Name</label>
                <div class="col-sm-4">
                    <input name="note-persistent-name" class="form-control" id="label-REPLACED_BY_CONFIG~id_VALUE-name" value="REPLACED_BY_CONFIG~name_VALUE">
                </div>
            </div>
            <div class="form-group row">
                <label for="label-REPLACED_BY_CONFIG~id_VALUE-datetimesaved" class="col-form-label col-sm-1">datetimesaved</label>
                <div class="col-sm-4">
                    <input name="note-persistent-datetimesaved" class="form-control" id="label-REPLACED_BY_CONFIG~id_VALUE-datetimesaved" value="REPLACED_BY_CONFIG~datetimesaved_VALUE">
                </div>
            </div>
            <div class="form-group row">
                <label for="label-REPLACED_BY_CONFIG~id_VALUE-datetimecreated" class="col-form-label col-sm-1">datetimecreated</label>
                <div class="col-sm-4">
                    <input name="note-persistent-datetimecreated" disabled="disabled" class="form-control" id="label-REPLACED_BY_CONFIG~id_VALUE-datetimecreated" value="REPLACED_BY_CONFIG~datetimecreated~~1_VALUE">
                </div>
            </div>
            <div class="form-group row">
                <label for="label-REPLACED_BY_CONFIG~id_VALUE-id" class="col-form-label col-sm-1">id</label>
                <div class="col-sm-4">
                    <input name="note-persistent-id" disabled="disabled" class="form-control" id="label-REPLACED_BY_CONFIG~id_VALUE-id" value="REPLACED_BY_CONFIG~id_VALUE">
                </div>
            </div>
        </div>
    </div>
</form>